h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
    color: black;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

.chapter-head {
    font-family: 'Fredericka the Great', serif;
    font-size: 2em;
    color: crimson;
}

#byline {
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    margin: 0 auto;
    }

.container{
    margin: 0 auto;
    width: 900px;
    padding-bottom: 10px;
}

.image{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-md-6{
    font-size: .8em;
}

footer {
    display: block;
    font-weight: 400;
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

/*tophat*/
.nav-logo {
    color: white;
    margin: 0 auto;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: red;
}

.bg-dark {
    background: black !important;
}


/*splash image*/
.hero-container{
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;

}

.overlay{
    position: absolute;
    width: 100%;
    top:30%;
    background: black;
    opacity: 70%;
}

.hero-head{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 6em;
    color: white;
    font-family: 'Fredericka the Great', serif;

}

.hero-subhead{
    font-family: 'Oswald', sans-serif;
}

/*Captions*/
.caption{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
    color: #999;
    text-align: center;
}

/*pullquote start*/
.pullquote{
    font-family: 'Oswald', sans-serif;
    color: crimson;
    font-size: 3em;
    font-weight: 700;
    text-align: left;
    padding: 15px 0px 15px 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.attribution{
    font-size: .5em;
    font-weight: 100;
    color: #000;
}
/*pullquote end*/

/* contributions */
.contribution{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
   font-style: italic;
   font-size: .8em;
}

/*sidebar start*/
.text-box{
    background-color: #fff;
    width: 90%;
    border: solid crimson;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.box-title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    text-align: center;
    color: white;
    background: crimson;

}

.intro-text{
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: left;

}

.box-text{
    padding-left: 3em;
    padding-right: 3em;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    text-align: left;
    color: #303030;
}

.source{
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Oswald', sans-serif;
    font-size: .8em;
    text-align: left;
    color: #303030;
}
/*sidebar end*/

.graphic{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border: solid crimson;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*media queries*/
@media(max-width: 769px) {
    p{
        padding-left: 20px;
        padding-right: 20px;
    }
    .chapter-head{
        font-size: 1.25em;
    }
    .hed {
        font-size: 2em;
    }
    .hero-head{
        font-size: 1.5em;
    }
    .pullquote{
        font-size: 1.25em;
    }

}

font-family: 'Fredericka the Great', serif;
font-family: 'Oswald', sans-serif;