#content {
    margin: 0 auto;
    width: 900px;
}

#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    }

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

p {
    font-family: Georgia, serif;
    font-size: 13px;
}

 h3 {
    font-family: Georgia, serif;
    font-size: 10px;
    color: grey;

 }