/* "styles for my resume" */

Body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}
/* "name" */
h1 {
    font-size 3.5em;
    text-transform: uppsercase;
    color: #33485e;
    text-align: center;
}

/* "current job title" */
strong {
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

/* "section titles" */
h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
}

/* "job titles" */
h3{
    font-weight: 600;
    font-size: 2em;
}

/* "job organizations" */
h4{
    font-weight: 400;
    font-size: 1.5em;
}

/* "job dates" */
h5{
    font-weight: 400;
    font-size: 1em;
}