/* "styles for my resume" */

#container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}


Body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}
/* "name" */
#name {
    font-size: 3.5em;
    text-transform: uppercase;
    color: #33485e;
    text-align: center;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: auto;
}

/* "current job title" */
#title {
    color: #33485e;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

/* "section titles" */
.sectionheader{
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70%;
    min-width: 300px;
}

/* "job titles" */
.jobtitle{
    font-weight: 600;
    font-size: 2em;
}

/* "job organizations" */
.organization{
    font-weight: 400;
    font-size: 1.5em;
}

/* "job dates" */
.date{
    font-weight: 400;
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


/* "job descriptions" */
.description{
    font-weight: 400;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}


/* "contact info" */
.menu{
    display:inline;
    margin: 0 auto;
    padding: 0px;
    list-style-type: none;
    text-align: center !important;
}

/* "degrees" */
#degrees{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* "skills" */
#do{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* "title" */
#title{
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/* "mission statement" */
.top{
    width: 60%;
    min-width: 300px;
    margin:0 auto;
    margin-bottom: 30px;
}

